html,body {
    overflow-x: hidden;
}

nav.bg-light {
    background-color: #004dc1de!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.48), 0 2px 10px 0 rgba(0,0,0,.12);
}

nav.bg-light a {
    color: #fff !important;
}

.navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
}

.optionalTitle {
    color: red;
}

.card a {
    float: right;
}

.errorsLogin {
    display: none;
}

.hidden {
    display: none;
}
